main {
  margin-top: 90px;
  padding-bottom: 50px;
}

.gpt-message-input {
  width: 90%;
  height: 50px;
  background-color: var(--bg-color);
  color: var(--color);
  border-radius: 30px;
  padding: 5px 30px;
  border: solid 3px var(--color);
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
}
.gpt-message-input:focus {
  outline: none;
}
.send-message {
  position: fixed;
  display: flex;
  bottom: 20px;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

#sendButton {
  color: var(--bg-color);
  appearance: none;
  transform: rotate(-90deg);
  border: none;
  background-color: var(--color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  //   margin-right: 10px;
}

.messages {
  margin-top: 40px;
}
.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.user {
  text-align: right;
}

.bot {
  align-self: flex-start;
}

.info {
  margin-top: 20px;
}

img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}
#sendButton {
  opacity: 0.3;
}
