header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 0 8px gray;
  z-index: 1000;
  transition: all ease-in-out 0.3s;
  background-color: var(--bg-color);
  a {
    img {
      width: 38px;
      transition: none;
    }
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    li {
      a {
        font-weight: 500;
        transition: 0.3s;
      }
      a:hover {
        color: rgb(72, 69, 69);
      }
    }
  }
}

.header-wallet {
  display: flex;
  align-items: flex-end;
  background-color: black;
  padding: 7px 10px;
  color: white;
  font-weight: 500;
  column-gap: 10px;
  border-radius: 10px;
  transition: 0.6s;
  img {
    width: 20px;
  }
}

.header-wallet:hover {
  transform: scale(1.1);
}

.header-right {
  display: flex;
  column-gap: 25px;
  align-items: center;
}
#dark-mode {
  appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  position: relative;
  border: solid 2px black;
  transition: all 0.3s;
}
#dark-mode::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  top: 1px;
  left: 2px;
  transition: all 0.3s;
}
#dark-mode:checked {
  background-color: var(--color);
  border-color: white;
}

#dark-mode:checked::before {
  left: 30px;
  background-color: var(--bg-color);
}

.header-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
#header-menu {
  display: none;
}
.mobile-menu {
  // display: none;

  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 97vh;
  background-color: var(--color);
  border-radius: 20px;
  padding: 20px 25px;
  text-align: right;
  transform: translateX(350px);
  transition: 0.8s;
  label {
    color: var(--bg-color);
    font-weight: bold;
    cursor: pointer;
  }
  ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
    li {
      a {
        color: var(--bg-color);
        font-size: 18px;
      }
    }
  }
}

#header-menu:checked ~ .mobile-menu {
  transform: translateX(0);
}
