* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.iphone {
  color: rebeccapurple;
}
.hero {
  width: 100%;
  height: 89vh;
  // background-color: var(--bg-color);
  transition: all 0.3s;
  background-image: url(../images/hero_alt__ey5khbzf04eq_xlarge.png);
  background-size: 80vw;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: -160px;
}

main {
  margin-top: 80px;
}


// iPhone models

.iphone-models  {|
  ul {
    display: flex;
    justify-content: space-between;
  }
}